* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
body {
  margin: 0;
  color: #16163f;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  letter-spacing: 0;
}
a {
  text-decoration: none;
}